body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  color: #FEF2BF;
  margin: 25px;
  display: inline-block;
  height: 8rem;
  width: 8rem;
  border: 10px solid black;
  border-radius: 20%;
  text-align: center;
  vertical-align: middle;
  line-height: 8rem;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
.show{
  visibility: visible;
}
.hide{
  visibility: hidden;
}

.start{
  background-color: transparent;
  height: 60px;
  width: 130px;
  border-radius: 20px;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  font-weight:900;
  color: #FEF2BF;
  cursor: pointer;
  border: 2px solid #FEF2BF;
}

